
<div class="card mt-5 text-center">
    <h1 class="card-header">Üdvözüljük az iTech oldalán!</h1>
    <div class="card-body">
      <h5 class="card-title">Fedezze fel folyamatosan bővülő kínálatunkat.</h5>
      <p class="card-text">
        Fedezze fel a tökéletes egyensúlyt a stílus és védelem között! Válassza az új generációs telefon tokjainkat, 
        amelyeket gondosan terveztek és készítettek, hogy telefonját minden körülmények között megvédjék, 
        miközben stílusos megjelenést kölcsönöznek neki.
        Kizárólag a legmagasabb minőségű anyagokból készültek, tokjaink ellenállnak a mindennapi kopásnak és ütéseknek, 
        így Önnek nem kell aggódnia, hogy telefonja sérüléseket szenvedhet. Az ergonomikus kialakítás és a pontos illeszkedés garantálja, 
        hogy telefonja tökéletesen illeszkedjen a tokba, miközben könnyen hozzáférhet minden gombhoz és csatlakozóhoz.
    </p>
      <a routerLink="/termekek" class="btn btn-warning">ÉRDEKEL</a>
    </div>
  </div>
  